<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/layout.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">
<script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	th:src="@{]https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>

<title>Insert title here</title>
</head>
<body>
	<div th:replace="header"></div>
	
	<div class="content_wrapper">
	<h2>社員リスト</h2>
		<table class="content_layout table table-hover">
			<caption>社員リスト</caption>
			<thead class="thead-dark">
				<tr>
					<th>社員番号</th>
					<th>氏名</th>
					<th>メールアドレス</th>
					<th>携帯番号</th>
				</tr>
			</thead>
			<tr th:each="user: ${users}">
				<td th:text="${user.userId}"></td>
				<td th:text="${user.userName}"></td>
				<td th:text="${user.email}"></td>
				<td th:text="${user.phone}"></td>
			</tr>
		</table>
		
		<div class="offset-md-3 col-md-6 offset-md-3">
			<a class="content_layout btn btn-block btn-info"
				th:href="@{/userEntry}">新規登録</a>
		</div>
	</div>
	<!-- content_wrapper -->
	

	<!-- container -->
</body>
</html>