<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/layout.css}">
<script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	th:src="@{]https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>

<title>Insert title here</title>
</head>
<body>
	<div class="container-fluid">
	<div class="offset-sm-10 col-sm-2">ロゴ</div>
		<nav class="navbar">
		<div class="offset-sm-1 col-sm-2">氏名</div>		
		<a  class="col-sm-2 btn btn-outline-info" href="userSearch">社員一覧</a>	
		<div class="col-sm-2 btn btn-outline-info">問題リスト</div>
		<div class="col-sm-2 btn btn-outline-info">回答リスト</div>
		<div class="offset-sm-3"></div>
		
		</nav>
		<div class="login_wrapper">
			<div class="row">
				<div class="text-center offset-md-2 col-md-5 offset-md-2 bg-info login_window">
					<h1 class="">TEST SEARCH</h1>
				</div>
			</div>
			<!-- row1 -->
		</div>
		<!-- align-center -->
	</div>
	<!-- container -->
</body>
</html>