<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/layout.css}">
<script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	th:src="@{]https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>

<title>Insert title here</title>
</head>
<body>
	<div class="container-fluid">
		<nav class="navbar border-bottom border-dark">NAV</nav>
		<div class="login_wrapper">
			<div class="row">
				<div class="text-center offset-md-2 col-md-5 offset-md-2 bg-info login_window">
					<h1 class="">NUTS</h1>
				</div>
			</div>
			<!-- row1 -->
			<div class="row">
			<div class="offset-md-2 col-md-5 offset-md-2">
				<form class="login_form">
					<div class="form-group row">
						<label for="userId" class="col-md-4 col-form-label" 
						th:text="#{constant.title}"></label>
						<div class="col-md-8">
							<input type="text" id="userId" name="userId" class="form-control">
						</div>
					</div>
					<div class="form-group row">
						<label for="userPass" class="col-sm-4 col-form-label"  th:text="#{constant.message}"></label>
						<div class="col-md-8">
							<input type="password" id="userPass" name="userPass" class="form-control">
						</div>
					</div>
					<div class="offset-md-2 col-md-8 offset-md-2">
						<input type="button" value="ログイン" class="btn btn-block btn-primary">
					</div>
				</form>
				</div>
			</div>
			<!-- row2(form) -->
		</div>
		<!-- align-center -->
	</div>
	<!-- container -->
</body>
</html>