@charset "UTF-8";
nav{
	margin-bottom:50px;
	height:100px;
}

.login_window{
	height: 200px;
}

.login_wrapper {
	margin:5% 25% 10% 25%;
}

.login_form{
	margin-top:50px;
}

.content_wrapper {
	margin:1% 25% 5% 25%;
}

.content_layout {
	margin-top:50px;
}

.form_layout{
	margin-top:10%;
}

.submit_layout{
	margin-top:5%;
}
