<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/layout.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">
<script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	th:src="@{]https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>

<title>Insert title here</title>
</head>
<body>
	<div th:replace="header"></div>
	<h2>登録情報確認</h2>
	<div class="content_wrapper">


		<label for="userId" class="col-md-3 content_layout" >社員番号</label> <span
			class="col-md-6" th:text="${userDto.userId}"></span>
		<div class="offset-sm-3"></div>

		<label for="userPass" class="col-md-3">パスワード</label> <span
			class="col-md-6" th:text="${userDto.userPass}"></span>
		<div class="offset-sm-3"></div>

		<label for="userName" class="col-md-3">氏名</label> <span
			class="col-md-6" th:text="${userDto.userName}"></span>
		<div class="offset-sm-3"></div>

		<label for="email" class="col-md-3">メールアドレス</label> <span
			class="col-md-6" th:text="${userDto.email}"></span>
		<div class="offset-sm-3"></div>

		<label for="phone" class="col-md-3">携帯番号</label> <span
			class="col-md-6" th:text="${userDto.phone}"></span>
		<div class="offset-sm-3"></div>

		<form th:action="@{register}" method="post" th:object="${userDto}">
		<input type="hidden" name="userId" th:value = "${userDto.userId}">
		<input type="hidden" name="userPass" th:value = "${userDto.userPass}">
		<input type="hidden" name="userName" th:value= "${userDto.userName}">
		<input type="hidden" name="email" th:value = "${userDto.email}">
		<input type="hidden" name="phone" th:value = "${userDto.phone}">
		
			<div class="form-group row">
				<div class="offset-md-3 col-md-6 offset-md-3 submit_layout">
					<input type="submit" value="確定" class="btn btn-block btn-success">
				</div>
			</div>
			<!-- form row7 -->
			<div class="form-group row">
				<div class="offset-md-3 col-md-6 offset-md-3">
					<a class="btn btn-block btn-secondary"
						href="javascript:history.back();">戻る</a>
				</div>
			</div>
		</form>
	</div>
	<!-- content_wrapper -->
	<!-- align-center -->

	<!-- container -->
</body>
</html>