<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/layout.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">
<script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	th:src="@{]https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>

<title>Insert title here</title>
</head>
<body>
	<div th:replace="header"></div>
		<div class="content_wrapper">

			<h2>社員新規登録</h2>
			<form class="user_form form_layout" th:action="@{confirm}" method="post" th:object="${userDto}">
				<div class="form-group row">
					<div class="offset-sm-1 col-md-1">
						<span class="badge badge-pill badge-danger">必須</span>
					</div>
					<label for="userId" class="col-md-3">社員番号</label>
					<div class="col-md-5">
						<input type="text" id="userId" name="userId" class="form-control">
					</div>
					<div class="offset-sm-2"></div>
				</div>
				<!-- form row1 -->

				<div class="form-group row">
					<div class="offset-sm-1 col-md-1 ">
						<span class="badge badge-pill badge-danger">必須</span>
					</div>
					<label for="userPass" class="col-md-3">パスワード</label>
					<div class="col-md-5">
						<input type="password" id="userPass" name="userPass" class="form-control">
					</div>
					<div class="offset-sm-2"></div>
				</div>
				<!-- form row2 -->
				<div class="form-group row">
					<div class="offset-sm-1 col-md-1">
						<span class="badge badge-pill badge-danger">必須</span>
					</div>
					<label for="userPass2" class="col-md-3">パスワード再入力</label>
					<div class="col-md-5">
						<input type="password" id="userPass2" name="userPass2" class="form-control">
					</div>
					<div class="offset-sm-2"></div>
				</div>
				<!-- form row3 -->
				<div class="form-group row">
					<div class="offset-sm-1 col-md-1">
						<span class="badge badge-pill badge-danger">必須</span>
					</div>
					<label for="userName" class="col-md-3">氏名</label>
					<div class="col-md-5">
						<input type="text" id="userName" name="userName" class="form-control">
					</div>
					<div class="offset-sm-2"></div>
				</div>
				<!-- form row4 -->
				<div class="form-group row">
					<div class="offset-sm-1 col-md-1"></div>
					<label for="email" class="col-md-3">メールアドレス</label>
					<div class="col-md-5">
						<input type="text" id="email" name="email" class="form-control">
					</div>
					<div class="offset-sm-2"></div>
				</div>
				<!-- form row5 -->
				<div class="form-group row">
					<div class="offset-sm-1 col-md-1"></div>
					<label for="phone" class="col-md-3">携帯番号</label>
					<div class="col-md-5">
						<input type="text" id="phone" name="phone" class="form-control">
					</div>
					<div class="offset-sm-2"></div>
				</div>
				<!-- form row６ -->
				<div class="form-group row">
					<div class="offset-md-3 col-md-6 offset-md-3 submit_layout">
						<input type="submit" value="登録"
							class="btn btn-block btn-success">
					</div>
				</div>
				<!-- form row7 -->
				<div class="form-group row">
					<div class="offset-md-3 col-md-6 offset-md-3">
						<a class="btn btn-block btn-secondary" href="userSearch">戻る</a>
					</div>
					<!-- form row8 -->
				</div>


			</form>

		</div>
		<!-- content_wrapper -->
	
	<!-- align-center -->

	<!-- container -->
</body>
</html>